.span9.offset1.question-container{:id => "qdiv-#{comment.id}"}
  .row-fluid.question
    .span3
      .user_box
        -if comment.user
          .user_photo= avatar_image(comment.user)
          .user_data
            .user_name= "#{comment.user.anonymized_name}"
            .user_role= t("roles.#{comment.user.role}")
        -else
          =t("places.questions.unknown")

    - if current_user?(@owner)
      = link_to 'X', product_question_path(comment.product_id, comment.id, :type => 'question'), :remote => true, :method => :delete, :confirm => t("places.questions.delete_this_question"), :class => "del hide"

    .span9
      .user_message= comment.comment
      .time= time_ago_in_words(comment.created_at)

  - # If I'm the owner and the question hasn't been responded yet
  - if comment.answers.blank?
    - if current_user?(@owner)
      = render '/questions/form', :product => @resource.product, :comment_id => comment.id
  -else
    = render '/questions/reply', :reply => comment.reply, :question_id => comment.id
