.wizard
  .row.title-bar
    .span8.title
      %h1= @resource.title
    .span2
      .listing-badge.pull-right
        = product_status_badge(@resource)

.row
  .span3
    = render_overridable_partial('edit_sidebar')
    &nbsp;
  .span7
    .wizard-wrapper
      %h2.title.section_title= t("products.wizard.#{@wizard.current_step_name}_title")
      .tab-content
        = render_overridable_partial('tabbed_wizard')