%div.types-filter{:id => "#{field}_filter"}
  .header= title
  .content
    %ul{:class => "inputs-list"}
      - filters.each do |obj, count, checked|
        %li
          %span.filter
            = check_box_tag :category_id, obj.id, checked, :id => dom_id(obj, :filter), :autocomplete => 'off'
            %label{:for => dom_id(obj, :filter), :title => obj.name}= obj.name
          %span.right
            - if count
              %span.label= count

:javascript
  PlaceFilters.bindTypeFilters('#{field}');