.search-bar-wrapper
  .search-bar-container
    .search-bar#search_bar
      %p.lead
        Show Djs Ranked in

      .btn-group
        %button.btn.btn-large#genre-active
          Genre
        %button.btn.btn-large.dropdown-toggle{'data-toggle' => "dropdown"}
          %span.caret
        %ul.dropdown-menu{:style => 'width:200px'}
          - @search.amenity_filters.each do |obj, count, checked|
            %li
              %a.genre-link{:href => "javascript:{}", 'data-genre-id' => obj.id}
                = obj.name

      .btn-group
        %button.btn.btn-large
          = current_city.name
        %button.btn.btn-large.dropdown-toggle{'data-toggle' => "dropdown"}
          %span.caret
        %ul.dropdown-menu{:style => 'width:200px'}
          %li{:class => (@global.present?)? "active" : ""}= link_to "Worldwide", "/worldwide"
          - City.active.each do |city|
            %li{:class => (@city && @city.id == city.id)? "active" : ""}= link_to city.name, seo_city_path(city)

        - # --> WARNING: don't delete the '#' here --> #num_search_results= search_results_count(@results)
        - #link_to "Not going to #{@city.name}?", root_path, {:style => 'color: #ccc; display:inline; font-size: 12px'}

      .float-right
        = form_for @search, :url => search_index_path, :as => :search, :html => {:remote => true, :autocomplete => 'off', :method => :get} do |f|
          .filters
            = hidden_field_tag :submitted_action
            = f.hidden_field :city_id
            = f.hidden_field :min_price
            = f.hidden_field :max_price
            = f.hidden_field :category_ids
            = f.hidden_field :amenity_ids
            = f.hidden_field :min_lat
            = f.hidden_field :max_lat
            = f.hidden_field :min_lng
            = f.hidden_field :max_lng
            = f.hidden_field :currency_id
            = f.hidden_field :current_page
            = f.hidden_field :total_pages

          / .views
          /   .sorting
          /     = t("products.search.sort_by")
          /     = f.select :sort_by, sort_options, :class => 'medium', :autocomplete => 'off'