- content_for(:title) do
  - "#{@resource.title} - #{@resource.city.name}"

- content_for(:meta_description) do
  - "#{@resource.description}"

- require_google_apis

- if @my_products
  .row
    .span3.offset7.listing-actions
      = render 'listings/actions'
- else
  .row
    = breadcrumb [['Search Results', seo_city_path(@resource.city)]],  @resource.title

.row.product_info{:id => dom_id(@resource)}
  /******************************************************************************************
  / Name, Price, Inquire Button
  /******************************************************************************************

  .accomodation-wrapper
    .header
      .title
        / comment out for now
        / = render 'search/button_favorite', :favorable => @resource
        %h1
          = @resource.title
          -if @resource.product.has_review?
            .review_average{:style => "text-align: right;"}
              = stars(@resource.product.review_avg)
          .inquire
            = link_to "Hire Me!", new_inquiry_path(:product_id => @product.id), :class => 'btn btn-large btn-info', :remote => true
        .meta
          %p= "#{@resource.city.name}, #{@resource.city.country}"
          .share
            %label= t("share_via")
            .sharePlace

    .well
      = render 'products/tabs/main',       :resource => @resource

    .well
      = render 'products/tabs/traits',     :resource => @resource

    .well
      = render 'products/tabs/photos',   :resource => @resource

:javascript
  PlaceShow.initializeSharePlace("#{h(@resource.title)}", '#{seo_product_url(@resource)}', '#{@resource.id}')
