.section.span5
  %h2= t("users.registration.already_member")
  %span= t("users.registration.please_login")
  .form_container
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = render 'registrations/oauth_fields', :f => f
      .input
        = f.text_field :email,  :placeholder => t("users.email")
      .input
        = f.password_field :password, :placeholder => t("users.password")

      = f.submit t("users.registration.login"), :class => 'btn float-right'

  %br.clearfix
  = link_to t("users.registration.forgot_password"), new_user_password_path
  .associate_clear_fix
    %p
      %i= "** #{t("users.registration.registration_warning")}"