- if @user && @user.errors.any?
  %div{:class => 'alert alert-error'}
    = error_messages_for @user

- if @user && @user.oauth_token?
  .user_data_head
    .row
      .oauth-box
        = image_tag @user.avatar_url
        %b Hello
        = @user.full_name
  .credentials-box.registration.row-fluid
    %br
    = render :partial => 'registrations/form'
    = render :partial => 'registrations/associate_login'
- else
  .credentials-box.registration.row-fluid
    %br
    = render :partial => 'registrations/form'
    = render :partial => 'registrations/connect_with'