= raw(SiteConfig.after_body_tag_start) if SiteConfig.after_body_tag_start.present?

- if current_user && current_user.is_taken?
  .head_take_control
    = t(:take_control_bar_message, :full_name => current_user.full_name, :email => current_user.email)
    = link_to t(:release_control), release_control_admin_users_path, :method => :post

.head_notification
  = head_notification_agent

%header.header
  .container
    .row
      .span5
        .logo
          = link_to root_path, :title => SiteConfig.site_name do
            = image_tag static_asset('logo.png'), :alt => SiteConfig.site_name
      - if user_signed_in?
        .user_box.logged-in
          .row
            .thumb
              = link_to avatar_image(current_user), profile_path
            .user_name
              .small
                = link_to t("users.sign_out"), destroy_user_session_path
      - else
        .user_box.not-logged-in
          .row
            .links
              = link_to user_omniauth_authorize_path(:facebook) do
                = image_tag 'signin_facebook.png', :alt => t("users.registration.sign_in_with", :provider => "Facebook")

      = render 'shared/preferences'
  = render 'shared/menu'
