.navbar-wrapper
  .navbar
    .navbar-inner
      .container
        .nav-collapse
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => "dropdown", :href => '#'}
                = current_city.name
                %b.caret
              %ul.dropdown-menu{:style => 'width:200px'}
                %li{:class => (@global.present?)? "active" : ""}= link_to "Worldwide", global_results_url
                - City.active_and_have_a_listing.each do |city|
                  %li{:class => (@city && @city.id == city.id)? "active" : ""}= link_to city.name, "/#{city.slug}"

            %li
              %a{:href => '/dj_clubs/list'}
                = "DJ Rankings"

            %li
              %a{:href => '/dj_clubs/list'}
                = "Club Rankings"

              / - if user_signed_in?
              /   %li.dropdown
              /     %a.dropdown-toggle{'data-toggle' => "dropdown", :href => '#'}
              /       = t("template.header.menu.my_account")
              /       %b.caret
              /     %ul.dropdown-menu{:style => 'width:200px'}
              /       %li{:class => @current_controller == "users" && @current_action == "show" ? "active" : ""}
              /         = link_to "Personal Information", profile_path
              /       - if is_agent? or is_admin?
              /         %li{:class => @current_controller == "listings" && @current_action == "index" ? "active" : ""}
              /           = link_to t('products.my_listings'), listings_path
              /       %li{:class => @current_controller == "places" && @current_action == "favorite_places" ? "active" : ""}
              /         = link_to t("products.my_favorites"), favorites_search_index_path

              = main_menu_user  if current_user && current_user.consumer?
              = main_menu_agent if current_user && current_user.agent?

            - else
              = main_menu

          %ul.nav.pull-right
            - if user_signed_in?
              - if permitted_to?(:manage, :products)
                %li.add-item= new_or_edit_listing

              - if message_count.zero?
                %li.read-message
                  = link_to t("messages.no_messages"), messages_path
              - else
                %li.unread-message{:onclick => "location.href='#{messages_path}';"}
                  = link_to message_count, messages_path

            = help_menu