= custom_field_image resource, :facebook_url,   'social/facebook.png'
= custom_field_image resource, :twitter_url,    'social/twitter.png'
= custom_field_image resource, :myspace_url,    'social/myspace.png'
= custom_field_image resource, :soundcloud_url, 'social/soundcloud.png'
= custom_field_image resource, :youtube_url,    'social/youtube.png'
= custom_field_image resource, :rss_url,        'social/rss.png'