<table cellspacing="0" cellpadding="0" border="0" id = "menu_show" data-menu-section-id = "<%=resource.id%>">
  <tbody>
    <tr>
      <td width="50%">
        <div class="panel">
          <h3>Menu Pages <i style="font-size: 10px; font-weight: 1px">(To remove Drag&amp;Drop pages to the right)</i></h3>
            
          <div class="panel_contents">
            <div id="" class="attributes_table locale">
              <table cellspacing="0" cellpadding="0" border="0">
                <tbody id = "selected_pages" class = "connectedSortable">
                  <%= render :partial => "selected"%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </td>
      <td> 
        <div class="panel">
          <h3>Available Pages <i style="font-size: 10px; font-weight: 1px">(Drag&amp;Drop pages to the left)</i></h3>

          <div class="panel_contents">
            <div id="" class="attributes_table locale">
              <table cellspacing="0" cellpadding="0" border="0">
                <tbody id = "available_pages" class = "connectedSortable">
                  <%= render :partial => "available"%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%= link_to "New Cmspage", "#{new_admin_cmspage_path}/?frommenu=#{resource.id}"%> | 
        <%= link_to "New External Link", "#{new_admin_external_link_path}/?frommenu=#{resource.id}"%>
      </td>
    </tr>
  </tbody>
</table>