#photo_faq.info
  .intro.span16
    %h3= t("pages.photo_faq.title")
    = t("pages.photo_faq.description").html_safe
  .span16
    .well.expandable
      %h4= t("pages.photo_faq.brighten_it_up")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tc2living3.jpg"}
        = t("pages.photo_faq.brighten_it_up_content").html_safe

    .well.expandable
      %h4= t("pages.photo_faq.go_wide")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tc3living2.jpg"}
        = t("pages.photo_faq.go_wide_content").html_safe

    .well.expandable
      %h4= t("pages.photo_faq.shoot_from_a_corner")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tcwindows.jpg", :style => 'display:none'}
        = t("pages.photo_faq.shoot_from_a_corner_content").html_safe

    .well.expandable
      %h4= t("pages.photo_faq.clean_it_up")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tc2living6.jpg", :style => 'display:none'}
        = t("pages.photo_faq.clean_it_up_content").html_safe
  
    .well.expandable
      %h4= t("pages.photo_faq.show_the_exterior")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tcentrance.jpg"}
        = t("pages.photo_faq.show_the_exterior_content").html_safe
        
    .well.expandable
      %h4= t("pages.photo_faq.dont_frame")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        = t("pages.photo_faq.dont_frame_content").html_safe
      
    .well.expandable
      %h4= t("pages.photo_faq.dont_add_captions")
      %a{:href => '#', :class => 'read-more'}= t("read_more")
      .inner
        = t("pages.photo_faq.dont_add_captions_content").html_safe

    .well
      %h4= t("pages.photo_faq.dont_be_stingy")
      .inner
        = t("pages.photo_faq.dont_be_stingy_content").html_safe

:javascript
  Expandable.initialize("#photo_faq");