- transaction = target.transaction
- case target.state.to_sym
  - when :initial
    .span5.offset1
      %p.hint= t("workflow.initial_agent")

  - when :requested
    .span1.or
      or
    .span5
      = link_to t("workflow.requested_agent_button"), transaction_path(transaction.id, :event => :pre_approve), {:method => :put, :remote => true, :class => "btn btn-primary btn-large" }
      = link_to t("workflow.reject_offer_agent_button"), transaction_path(transaction.id, :event => :decline), {:method => :put, :remote => true, :class => "btn btn-primary btn-large" }

      %p.hint= "(#{t("workflow.requested_agent")})"

  - when :ready_to_pay
    .span5.offset1
      %p= t("workflow.readypay_agent")
         
  - when :declined
    .span5.offset1
      %p.hint= t("workflow.reject_offer_agent")
           
  - else
    .span5.offset1
      %p.hint= t("workflow.paid_agent")