- content_for(:title)  { "#{@resource.title}"}
- content_for(:footer) { "info" }
- content_for(:id)     { "#{@resource.id}" }

%h3= @product.title
%p= "<strong>#{product_price(@resource)}</strong> <i>#{product_price_unit(@resource)}</i>".html_safe
%p
  = @resource.category.translated_name if @resource.category
  = descriptive_key(t('places.size'), place_size(@resource))
  = descriptive_key(t('places.bedrooms'),  @resource.num_bedrooms)
  = descriptive_key(t("places.beds"), @resource.num_beds)
  = descriptive_key(t("places.guests"), t('places.guests_range', :count => @resource.max_guests))
  = descriptive_key(t("places.bathrooms"), @resource.num_bathrooms)

%div{"data-role" => :collapsible, "data-content-theme"=>:c, "data-mini" => "true", "data-collapsed" => "false"}
  %h3 Description
  %p= @product.description

%div{"data-role" => :collapsible, "data-content-theme"=>:c, "data-mini" => "true", "data-collapsed" => "false"}
  %h3 Price
  - if @resource.price_per_day.present? and @resource.price_per_day != 0
    = keyvalue(t("price_per_day"),           place_price(@resource, :per_day))

  - if @resource.price_per_week.present? and @resource.price_per_week != 0
    = keyvalue(t("places.price_per_week"),   place_price(@resource, :per_week))

  - if @resource.price_per_month.present? and @resource.price_per_month != 0
    = keyvalue(t("places.price_per_month"),  place_price(@resource, :per_month))

  - if @resource.price_sale.present? and @resource.price_sale != 0
    = keyvalue(t("products.price_sale"),     place_price(@resource, :sale))

  - if @resource.price_final_cleanup.present? and @resource.price_final_cleanup != 0
    = keyvalue(t("places.final_cleanup"),    place_price(@resource, :final_cleanup))

  - if @resource.price_security_deposit.present? and @resource.price_security_deposit != 0
    = keyvalue(t("places.security_deposit"), place_price(@resource, :security_deposit))

%div{"data-role" => :collapsible, "data-content-theme"=>:c, "data-mini" => "true", "data-collapsed" => "false"}
  %h3= t("places.cancellation")
  %p= cancellation_desc(@resource)

- if @resource.amenities.count != 0
  %div{"data-role" => :collapsible, "data-content-theme"=>:c, "data-mini" => "true", "data-collapsed" => "false"}
    %h3 Amenities
    - @resource.amenities.each do |amenity|
      %p= amenity.name