= form_for @alert, :html => {:class => "form-horizontal"} do |f|
  = f.fields_for :search do |search_form|
    .modal-header
      %h3=t(@current_action == "edit" ? "alerts.edit_alert" : "alerts.create_alert")
    .modal-body 
      %fieldset
        .column1
          .control-group
            %label{:class => "control-label"}= t("alerts.settings")
            .controls
              = select "alert", 'schedule', [[t("alerts.daily"), "daily"], [t("alerts.weekly"), "weekly"], [t("alerts.monthly"), "monthly"]]
              = select 'alert', 'delivery_method', [[t("alerts.email"), "email"]]
              = search_form.hidden_field :currency_id

          .control-group
            %label{:class => "control-label"}= t("places.search.city")
            .controls
              = search_form.select(:city_id, cities_options)
          = render_overridable_partial('save_search_fields', :search_form => search_form)

          .control-group
            %label{:class => "control-label"}= t("places.search.sort_by")
            .controls
              = search_form.select :sort_by, @alert.search.sort_options, :class => 'medium'

          .control-group
            %label{:class => "control-label"}= t("places.search.minimum_price")
            .controls
              .input-prepend
                %span.add-on= current_currency.label
                = search_form.text_field :min_price, :placeholder => t("places.search.minimum_price"), :class => 'span2', 'autocomplete' => 'off'

          .control-group
            %label{:class => "control-label"}= t("places.search.maximum_price")
            .controls
              .input-prepend
                %span.add-on= current_currency.label
                = search_form.text_field :max_price, :placeholder => t("places.search.maximum_price"), :class => 'span2', 'autocomplete' => 'off'

        .column2
          = render_overridable_partial('save_search_fields_extra', :search_form => search_form)

      .modal-footer
        %button.btn{:onclick => "$('.modal').modal('hide'); return false;"}=t("cancel")
        %button.btn.btn-primary=t("submit")
