- url = club.website

%li{:id => dom_id(club), "data-url" => url, :class => 'search-item-clickable'}
  .thumb.data-block{:class => "club_photo"}
    = link_to url do
      = image_tag(club.photo1(:medium))
  .info
    .title
      %h3
        = link_to club.name, url

  .data-block.last-child
    .price
      .figure
        %span= "##{ranking}"
      - if club.points.present?
        .micro= "#{club.points} Points"
