#details-tab.tab-pane
  .span10.offset1{:style => "margin: 15px auto 20px 68px"}
    .row-fluid
      // Place type, size
      .span2
        .row-fluid
          .span4
            .details_label= t("places.type")
          .span8
            .details_value= @resource.category.translated_name
        .row-fluid
          .span4
            .details_label= t("places.size")
          .span8
            .details_value
              = place_size(@resource)

      // Apartment Space (bedrooms, bed, max guests, bathrooms)
      .span3
        - unless @resource.num_bedrooms.blank?
          .row-fluid
            .span8
              .details_label= t("places.bedrooms")
            .span4
              .details_value= @resource.num_bedrooms
        - unless @resource.num_beds.blank?
          .row-fluid
            .span8
              .details_label= t("places.beds")
            .span4
              .details_value= @resource.num_beds
        .row-fluid.guest_count
          .span8
            .details_label= t("places.guests")
          .span4
            .details_value
              = t('places.guests_range', :count => @resource.max_guests)
        - if @resource.num_bathrooms.present?
          .row-fluid
            .span8
              .details_label= t("places.bathrooms")
            .span4
              .details_value= @resource.num_bathrooms

      // Prices Column (night, week, month)
      .span3
        - if @resource.price_per_day.present?
          .row-fluid
            .span8
              .details_label= t("places.price_per_day")
            .span4
              .details_value= place_price(@resource, :per_day)

        - if @resource.price_per_week.present?
          .row-fluid
            .span8
              .details_label= t("places.price_per_week")
            .span4
              .details_value= place_price(@resource, :per_week)

        - if @resource.price_per_month.present?
          .row-fluid
            .span8
              .details_label= t("places.price_per_month")
            .span4
              .details_value= place_price(@resource, :per_month)

        - if @resource.price_sale.present?
          .row-fluid
            .span8
              .details_label= t("products.price_sale")
            .span4
              .details_value= place_price(@resource, :sale)
      // Price final cleanup, security deposit, cancellation policy
      .span4
        - if @resource.price_final_cleanup && @resource.price_final_cleanup > 0
          .row-fluid
            .span7
              .details_label= t("places.final_cleanup")
            .span5
              .details_value= place_price(@resource, :final_cleanup)

        - if @resource.price_security_deposit && @resource.price_security_deposit > 0
          .row-fluid
            .span7
              .details_label= t("places.security_deposit")
            .span5
              .details_value= place_price(@resource, :security_deposit)

        .row-fluid.cancellation
          .span7
            .details_label= t("places.cancellation")
          .span5
            .details_value= cancellation_desc(@resource)

  - unless @resource.amenities.blank?
    .span10.offset1{:style => "margin: 15px auto 20px 68px"}
      .row-fluid
        - @resource.amenities.in_groups_of(4) do |ag|
          .span2
            - ag.each do |amenity|
              - if amenity
                .w-left-icon.check= amenity.name
