.control-group
  = f.label :category_id, t("places.wizard.place_type"), :class => 'control-label'
  .controls
    = f.collection_select :category_id, Category.all, :id, :name
.control-group.required
  = f.label :num_bedrooms, t("places.wizard.how_many_bedrooms"), :class => 'control-label'
  .controls
    = f.text_field :num_bedrooms, :class => "validate[required,custom[integer],min[0]] span1"
.control-group.required
  = f.label :max_guests, t("places.wizard.max_guests"), :class => 'control-label'
  .controls
    = f.text_field :max_guests, :class => "validate[required,custom[integer],min[0]] span1"
- # TODO: This line must die
= f.hidden_field :size_unit, :value => get_size_unit_backend_compatible