.tabbed-panel
  %ul.nav.nav-tabs
    - if show_product_panoramas?(@product)
      %li
        %a{:href => "#panoramas-tab", 'data-toggle' => 'tab'}= t("products.panoramas")
    - if SiteConfig.photos?
      %li
        %a{:href => "#photo-slider", 'data-toggle' => 'tab'}= t("places.photos")
    - if resource.lat.present? && resource.lon.present?
      %li
        %a{:href => "#map-tab", 'data-toggle' => 'tab'}= t("places.map")
    - if SiteConfig.calendar?
      %li
        %a{:href => "#calendar-tab", 'data-toggle' => 'tab'}= t("places.calendar")
    %li
      %a{:href => "#details-tab", 'data-toggle' => 'tab'}= t("places.details")
    - if resource.house_rules.present?
      %li
        %a{:href => "#house-rules-tab", 'data-toggle' => 'tab'}= t("places.house_rules")
    %li
      %a{:href => '#details-questions', 'data-toggle' => 'tab'}
        = t('jobs.questions', :count => resource.q_and_a.count)

    - @other_properties = []
    - unless current_user?(@owner)
      - @other_properties = @owner.other_published_products(resource)

    - if @other_properties.present?
      %li
        %a{:href => '#other-properties', 'data-toggle' => 'tab'}
          = t('places.other_properties', :count => @other_properties.count)

  .tab-content
    - if show_product_panoramas?(@product)
      // Panorama pane
      = render 'products/properties/tabs/panoramas', :resource => resource

    - if SiteConfig.photos?
      // Photo Slider pane
      = render 'products/properties/tabs/photos', :resource => resource

    - if resource.lat.present? && resource.lon.present?
      // Map Pane
      = render 'products/properties/tabs/map', :resource => resource

    // Calendar Pane
    - if SiteConfig.calendar?
      = render 'products/properties/tabs/calendar', :resource => resource

    // Details Pane
    = render 'products/properties/tabs/details', :resource => resource

    // Questions Tab
    = render 'questions/questions'

    // Other Products by this agent
    - if @other_properties.present?
      = render 'products/properties/tabs/other_properties', :resource => resource


/******************************************************************************************
/ Description, Minimum stay, Maximum Stay
/******************************************************************************************
.description
  .row
    .span8
      - if resource.description.present?
        .title= t('places.description')
        .desc= simple_format(resource.description)
      - if resource.house_rules.present?
        .title= t('places.rules')
        .desc= simple_format(resource.house_rules)

    .span2.right.span-below.min-stay
      .title
        =t("places.minimum_stay")
      .micro
        -if resource.minimum_stay != 0
          = "#{resource.minimum_stay} #{t(resource.stay_unit)}"
        -else
          = t("places.no_minimum")
    .span2.right.max-stay
      .title
        =t("places.maximum_stay")
      .micro
        -if resource.maximum_stay != 0
          = "#{resource.maximum_stay} #{t(resource.stay_unit)}"
        -else
          = t("places.no_maximum")

:javascript
  $('.nav-tabs a:first').tab('show');
