- content_for(:modal_header) do
  %h3= t("inquiries.inquiry_success_title")

%p= t("inquiries.inquiry_sent_msg")
- if @just_created
  %p= t("inquiries.inquiry_sent_just_created_msg")

%p= t("inquiries.inquiry_sent_check_link", :link => link_to(t("inquiries.inquiry_center"), messages_path)).html_safe
- if @just_created
  %a{:href => "#", :style => "float:right;", :class => "btn btn-large btn-primary", :id => "close_modal", :data => { :dismiss => "modal"}} Ok

:javascript
  
  $(document).ready(function() {
    just_created = "#{@just_created}";
    if( "true" == just_created ) {
      $('#inquiry_sent').attr('data-backdrop','static');
      $('#inquiry_sent').attr('data-keyboard', 'false');
      $('#inquiry_sent .close').text("");
      $('#inquiry_sent .close').attr('data-dismiss', 'false');
    }
    $('#inquire_place_link').attr('data-toggle', 'false');
    $('#inquire_place_link').attr('conversation', "#{@inquiry.conversation.id}");
  });

  $('#close_modal').click(function() {
    $('#inquiry_sent').attr('data-backdrop','true');
    location.reload();
  });

  