!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body{:id => @body_id}
    .site_wrapper
      = render 'shared/header'
      =# render 'shared/contact'
      .content
        %div
          = flash_messages
          = yield

      = render 'shared/footer'
