- content_for :page_content do
  .site_wrapper
    = render 'shared/header'
    =# render 'shared/contact'
    .main_wrapper
      .main
        = flash_messages
        = yield

    = render 'shared/footer'

= render :file => 'layouts/application'
